<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemon.dao.mapper.MessageMapper">
    <select id="getMessageRecordPages" resultType="com.lemon.dao.pojo.Message">
    select * from le_message where (from_user_id = #{userIdOne} and to_user_id = #{userIdTwo}) or (from_user_id = #{userIdTwo} and to_user_id = #{userIdOne})
    order by create_date desc
    </select>

    <select id="getLastMessage" resultType="com.lemon.dao.pojo.Message">
        select * from le_message where (from_user_id = #{userIdOne} and to_user_id = #{userIdTwo}) or (from_user_id = #{userIdTwo} and to_user_id = #{userIdOne})
        order by create_date desc limit 1
    </select>
</mapper>